.location {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: calc(20px + 2vmin);
    font-family: 'Oswald', sans-serif;
}
li{
    list-style: none;
}
.card{
    height: 7em;
    margin: 10px;
}
.restaurants-input{
    padding-left: 0;
}
.map-template {
    margin-top: 90px;
    width: 100%;
    height: 100%;
}
h1{
    color: white;    
}
.row {
    margin: 0 !important;
  }
.map-template > div > div {
    margin-left: auto;
    margin-right: auto;
}
.headerText{
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  .card{
    height: 15em;
    margin: 12px;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
    font-size: 32px;
}
.location{
    font-family: 'Oswald', sans-serif;
}

img{
    height: 7em;
}

.infoMarker{
    color: black;
}

.card-header{
    text-decoration: underline;
}

.card-header:hover{
    color: royalblue;
    cursor: pointer;
}